
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}My Chat APP{% endblock %}</title> 
   <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-400 font-sans">
   <nav class="flex items-center justify-between p-4 bg-gray-800 text-white shadow-md">
      <div>
         <a href="{% url 'room_list' %}" class="text-2xl font-bold text-rose-600">My Chat APP</a>
      </div>

      <div>
         {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}!</span>
            <a href="{% url 'logout' %}" class="bg-red-500 text-white px-3 py-1 rounded">Logout</a>
         {% else %} 
            <a href="{% url 'login' %}" class="bg-green-500 text-white px-3 py-1 rounded">Login</a>
            <a href="{% url 'signup' %}" class="bg-blue-500 text-white px-3 py-1 rounded">Signup</a>
         {% endif %}
      </div>
   </nav>
      

   <div class="container mx-auto mt-10">
      {% if messages %}
         {% for message in messages %}
            <div class="mb-4 p-3 rounded shadow border-l-4
            {% if 'success' in message.tages %}bg-green-100 border-green-500 text-green-700
            {% elif 'error' in message.tags %}bg-red-100 border-red-500 text-red-700 
            {% else %}bg-blue-100 border-blue-500 text-blue-700{% endif %}">
            {{ message }}
            </div>
         {% endfor %}
      {% endif %}


      {% block content %}
      {% endblock %}
   </div>
</body>
</html>